.App {
  text-align: center;
  
}

.main-form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #a8ccd7;
  width: 90%;
  margin: 20px;
  border-radius: 15px;
}

.app-formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app-input {
  flex: 1;
}

.app-iconButton {
  flex: 0;
}
